#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.main-heading {
  font-size: 1.6em;
}

body {
  background-color: #470943;
  color: #ffffff;
}


@media (prefers-color-scheme: light) {
  .main-heading {
    font-size: 1.1em;
  }
  
}

