
.gameboard {
    background-color: #470943;
    color: white;
    
}

.status {
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}

.status button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    border: none;
    color: #470943;
    font-size: 90%;
}

.status button:hover {
    cursor: pointer;
}

.main-square {
  /* width: 80%; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #ffffff33;
  margin: 10px;
  
  column-gap: 0.1rem;
  row-gap: 0.1rem;
}


.small-square img {
    max-width: 9.5rem;
    max-height: 9.5rem;
    
}
