
.gameboard {
    background-color: #470943;
    color: white;
    
}

.instructions {
    padding: 2rem;
}

.main-square {
  /* width: 80%; */
  display: grid;
  grid-template-columns: 10em 10rem 10rem;
  grid-template-rows: 10em 10rem 10rem;
  background-color: #ffffff4d;
  padding: 10px;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
}


.small-square img {
    max-width: 9.5rem;
    max-height: 9.5rem;
    
}
