
.square {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #470943;
}

.square img {
    max-width: 4.8rem;
    max-height: 4.8rem;
}